<!DOCTYPE html>
<html>
  <head>
    <title>TimeTrack</title>
    <%= nav_bar do %>
      <%= menu_group do %>
        <% if current_user %>
            <%= menu_item "Home", root_path %>
            <% if current_user.admin? %>
              <%= menu_item "Log", clockin_ledger_logins_path%>
            <% end %>
          <% end %>
      <% end %>
      <%= menu_group pull: :right do %>
          <% if current_user %>
              <% unless current_user.admin? %>
                <%= link_to image_tag("/assets/clock.png"), "#", class: "clockin"%>
              <% end %>
              <%= menu_item "Sign Out", destroy_user_session_path, method: :delete %>
          <% else %>
              <%= menu_item "Sign Up", new_user_registration_path %>
              <%= menu_item "Sign In", new_user_session_path %>
          <% end %>
      <% end %>
    <% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice flash"><%= flash[:notice] %></p>
    <p class="alert flash"><%= flash[:alert] %></p>
    <%= yield %>
  </body>
</html>
